:root {
  --top-row-height: 120px;
  --gutter: 20px;
  --blue: #00adee;
  --light-blue: rgba(0, 173, 238, 0.4);
  --green: #8cc36f;
  --light-green: rgba(170, 239, 135, 0.8);
  --bg-color: rgba(192, 192, 192, 0.1);
  --subheading: rgba(0, 0, 0, 0.6);
  }
  
  *{
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  }
  
  aside{
    color: #00ADEE;
    width: 200px;
    position : fixed;
    font-size: 20px;
    padding-top: 0px;
    padding-left: 1%;
    z-index: 10;
    top: 0;
    left: 0;
    overflow-x: hidden;
    border-right : 1px solid #00ADEE;
    background-color: white;
    height: 100%;
  }
  
  aside a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #00ADEE;
    border-bottom: 1px solid #00ADEE;
    padding-bottom: 15px;
    padding-top: 15px;
    position: relative;
    left:-30px;
    
    
  }
  
  aside img{
    position: relative;
    height :150px;
    left: 15px;
  
  }
  
  header img {
  height: 150px;
  }
  
  img[src*="https://image.flaticon.com"] {
  color: #00adee;
  height: 40px;
  padding: 3px;
  
  }
  
  img[src*="https://via.placeholder.com"] {
  color: #00adee;
  height: 400px;
  
  }
  
  main {
  margin-left: 210px;
  }
  
  #what-we-do h2 {
  color: #8cc36f;
  
  }
  
  #what-we-do p {
  border-right: 1px solid rgb(170,239,135,0.8);
  }
  
  #our-work h2 {
  color: #8cc36f;
  
  }
  
  #our-work p {
  border-right: 1px solid rgb(170,239,135,0.8);
  }
  
  #contact-us h2{
  color: #8cc36f;
  
  }
  
  img[src*="stacked-logo.png"] {
  height: 100px
  
  }
  
  aside a{
  border-bottom: 2px solid #00ADEE;
  text-decoration: none;
  text-align: center;
  color: #00ADEE;
  position: relative;
  
  }
  
  aside nav{
  font: sans-serif
  
  }
  
  section div{
  width: 33%;
  float: left;
  padding: 20px;
  
  }
  
  ul {
  list-style-type: none;
  
  }


