  :root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
 
}

html {
    font-size: 16px;
}


#student-grid{
display: grid;
grid-template-columns: 5fr 5fr 5fr;
grid-template-areas:
"student-quote student-quote student-picture"
"student-profile student-profile student-contact"
"experience experience experience";
grid-row-gap: 20px;
grid-column-gap: 50px;
}

#student-quote{
  grid-area: student-quote;
  display: flex;
  margin-top: 50px;
  color: var(--grey);
}
#student-picture{
  grid-area: student-picture;
}
#student-profile{
  grid-area: student-profile;
}
#student-contact{
  grid-area: student-contact;
}

#experience {
    grid-area: experience;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

  }

  #experience div {
    margin-right: 15px;
    margin-left: 15px; 
    width: 30%;
  }

  #student-picture img {
    border-radius: 50%;
  }

  #student-contact{
    color: var(--grey);
    text-align: center;
  }

  img {
    width: 100%;
  }

  #student-quote{
    color: var(--grey);
    text-align: center;
  }

  

  #student-contact p{
    color : #00ADEE;
    text-align :center;
  }

  
#te-logo{
  width: 25%;
  margin:0;
}
 

  #experience h3 {
    color: #505355;
  }
  
  .fas fa-database{
    color: #00ADEE;
  }
  
  .fas fa-info{
    color: #00ADEE;
  }
  
  .fas fa-pallete {
    color: #00ADEE;
  }